<!DOCTYPE html>
{%extends 'MyApps1/base.html'%}
{%block body_block%}
    <div class="jumbotron">
        <div>
            <h2>***Welcome to SRI SAI Exams***</h2>
            <h4>Rules & Regulations:</h4>
            <ul>
                <li>Rule-1:You should write only one exam per day</li>
                <li>Rule-2:You should write exam from 9am to 6pm only</li>
                <li>Rule-3:Use your Hall-Ticket No. for login-ID</li>
                <li>Rule-4:User your Name & DOB as password for exams</li>
                <li>Rule-5:Each exam is 90minutes to time</li>
                <li>Rule-6:Each question appears only once(NO back option)</li>
                <li>Rule-7:Each question has only 2minutes of time</li>
                <li>Rule-8:Exam Result will be send to your mobile & emailid</li>
                <li>Rule-9:Webcam is mandatory for all exams</li>
            </ul>
            <h4>***ALL THE BEST***</h4>
        </div>
    </div>
{%endblock%}
